version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:tap-tester-v4
      - image: mongo:4.2.0-bionic
        environment:
          MONGO_INITDB_ROOT_USERNAME: dev
          MONGO_INITDB_ROOT_PASSWORD: Password1
        command: [mongod, --replSet, rs0]
    steps:
      - checkout
      - add_ssh_keys
      - run:
          name: 'Install Dockerize'
          command: wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
          environment:
            DOCKERIZE_VERSION: v0.3.0
      - run:
          name: 'Wait for Mongo'
          command: |
            dockerize -wait tcp://127.0.0.1:27017 -timeout 1m
            sleep 5
      - run:
          name: 'Setup Mongo'
          command: |
            mongo -u dev -p Password1 --authenticationDatabase admin --eval 'rs.initiate({_id: "rs0", members: [{_id: 0, host: "127.0.0.1:27017"}]})'
      - run:
          name: 'Setup virtual env'
          command: |
            virtualenv -p python3 /usr/local/share/virtualenvs/tap-mongodb
            source /usr/local/share/virtualenvs/tap-mongodb/bin/activate
            pip install .[dev]
      - run:
          name: 'pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-mongodb/bin/activate
            make test
      - run:
          name: "Unit Tests"
          command: |
            source /usr/local/share/virtualenvs/tap-mongodb/bin/activate
            nosetests tests/unittests/
      - run:
          name: 'Integration Tests'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/sandbox tap-tester.env
            source tap-tester.env
            source /usr/local/share/virtualenvs/tap-tester/bin/activate
            run-test --tap=tap-mongodb \
                     --target=target-stitch \
                     --orchestrator=stitch-orchestrator \
                     --email=harrison+sandboxtest@stitchdata.com \
                     --password=$SANDBOX_PASSWORD \
                     --client-id=50 \
                     tests
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 19 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
